{
	email choncotm77@gmail.com
}

www.choncotm.com {
	redir https://choncotm.com{uri} permanent
}

choncotm.com {
	root * /usr/share/caddy
	file_server

	@static path *.css *.js *.png *.jpg *.svg *.ico
	header @static Cache-Control "no-cache"

	handle /api/* {
		reverse_proxy stats-api:8000
	}

	handle /admin* {
		reverse_proxy stats-api:8000
	}
}
